.TocHeader {
  position: sticky;
  width: 100%;
  height: var(--tocheader-height);
  color: var(--fg-neutral-subtle);
  z-index: var(--sticky);
  background-color: var(--bg-surface);
}

.trigger {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  padding: 8px 16px;
  border-bottom: 1px solid var(--border);
  white-space: nowrap;
  cursor: pointer;

  & svg {
    flex-shrink: 0;
  }

  .listIcon {
    padding-right: 4px;
  }
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--bg-surface);
}
