.Input {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
  padding: 0 12px;
  border: 1px solid var(--border);
  border-radius: var(--radius-large);
  color: var(--fg-neutral);

  &:focus-within {
    border-color: var(--border-selected);
    box-shadow:
      2px 0 var(--bg-brand-subtle),
      0 -2px 0 var(--bg-brand-subtle),
      -2px 0 0 var(--bg-brand-subtle),
      0 2px 0 var(--bg-brand-subtle);
  }

  &:has(.input:disabled) {
    background-color: var(--bg-disabled);
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.error {
    border: 1px solid var(--border-error);
  }

  .input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: var(--font-size-14);

    &::placeholder {
      color: var(--fg-neutral-subtle);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}
