.TreeView {
  .TreeItem {
    --depth: 0;

    .button {
      justify-content: start;

      .icon {
        width: 14px;
        height: 14px;
        color: var(--gray-400);
      }

      .indent {
        width: calc(16px * var(--depth));
      }
    }
  }
}
