.TreeView {
  --indent-size: 16px;
  --depth: 0;
  --gap-between-items: 2px;
}

.TreeItem {
  .button {
    justify-content: start;
    min-height: fit-content;
    padding: 4px 12px;
    margin-bottom: var(--gap-between-items);
  }

  .icon {
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    color: var(--fg-neutral-subtlest);
  }
}

.SubTree {
  padding-left: var(--indent-size);
}
