.TableOfContents {
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--border);
  padding-left: 12px;

  .list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .item {
    color: var(--fg-neutral-subtle);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-regular);

    &.active {
      color: var(--fg-neutral);
      font-weight: var(--font-weight-medium);
    }

    & > a {
      color: inherit;
      text-decoration: none;
    }

    &.heading1 {
      padding-left: 0;
    }

    &.heading2 {
      padding-left: 10px;
    }

    &.heading3 {
      padding-left: 20px;
    }
  }
}
