.TableOfContents {
  border-left: 2px solid var(--border);
  padding-left: 4px;
}

.tocitem {
  --indent-size: 12px;
  --indent-count: 1;

  display: inline-block;
  padding: 4px;
  padding-left: calc(var(--indent-size) * var(--indent-count));

  color: var(--fg-neutral-subtle);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);

  &.active {
    color: var(--fg-neutral);
    font-weight: var(--font-weight-medium);
  }
}
