.Chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: var(--radius-full);
  white-space: nowrap;

  &.variant-solid {
    background: var(--bg-accent);
    color: var(--white);

    &.color-brand {
      --bg-accent: var(--bg-brand-solid);
    }

    &.color-gray {
      --bg-accent: var(--bg-gray-solid);
    }
  }

  &.variant-subtle {
    background: var(--bg-accent-subtle);
    color: var(--fg-accent-contrast);

    &.color-brand {
      --fg-accent-contrast: var(--fg-brand-contrast);
      --bg-accent-subtle: var(--bg-brand-subtle);
    }

    &.color-gray {
      --fg-accent-contrast: var(--fg-gray-contrast);
      --bg-accent-subtle: var(--bg-gray-subtle);
    }
  }

  &.variant-outline {
    background: transparent;
    border: 1px solid var(--border-accent);
    color: var(--fg-accent-contrast);

    &.color-brand {
      --border-accent: var(--border-brand);
      --fg-accent-contrast: var(--fg-brand-contrast);
    }

    &.color-gray {
      --border-accent: var(--border-gray);
      --fg-accent-contrast: var(--fg-gray-contrast);
    }
  }
}
