#md {
  --gap-xs: 8px;
  --gap-s: 12px;
  --gap-m: 16px;
  --gap-l: 24px;
  --section-gap: 48px;

  color: var(--fg-neutral);

  h1,
  h2,
  h3,
  p,
  blockquote,
  ul,
  ol,
  table,
  pre,
  figure {
    margin: 0; /* reset margin */
  }

  h1,
  h2,
  h3 {
    margin-top: var(--section-gap);
    margin-bottom: var(--gap-l);
  }

  p {
    margin-bottom: var(--gap-s);
    line-height: 160%;
  }

  blockquote {
    margin: var(--gap-l) 0;
    padding: 0 16px;
    color: var(--fg-neutral-muted);
    border-left: 3px solid var(--border);

    & h1,
    & h2,
    & h3 {
      margin-top: 0;
      margin-bottom: var(--gap-xs);
    }
  }

  ul,
  ol {
    margin-bottom: var(--gap-m);
    padding-left: 24px;

    & ul {
      margin-bottom: 0;
    }
    & ol {
      margin-bottom: 0;
    }
  }

  li {
    list-style: initial;

    &::marker {
      color: var(--fg-neutral-subtle);
    }

    & + li {
      margin-top: var(--gap-xs);
    }
  }

  pre {
    margin: var(--gap-l) 0;
    padding: 16px;
    border: 1px solid var(--border);
    border-radius: var(--radius-medium);
    line-height: 145%;
    white-space: pre-wrap;
  }

  pre,
  pre code,
  pre code span {
    background-color: var(--bg-surface);
    color: var(--shiki-light);
  }

  p code {
    padding: 2px 4px;
    background-color: var(--gray-50);
    border-radius: var(--radius-small);
  }

  hr {
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: var(--border-gray);
  }

  a {
    color: var(--fg-selected);
    text-decoration: none;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  strong {
    font-weight: var(--font-weight-semibold);
  }

  img {
    max-width: 100%;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;

    & th,
    & td {
      padding: 8px 12px;
      border: 1px solid var(--border-gray);
    }

    & th {
      background-color: var(--bg-gray-subtle);
    }
  }
}

body[data-theme="dark"] #md {
  pre,
  code,
  code span {
    background-color: var(--bg-surface);
    color: var(--shiki-dark);
  }

  p code {
    background-color: var(--gray-800);
  }
}
