#md {
  color: var(--fg-neutral);

  img {
    max-width: 100%;
  }

  p,
  blockquote,
  ul,
  ol,
  table,
  pre {
    margin: 0;
    margin-bottom: 16px;
  }

  h1,
  h2,
  h3 {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  & > :first-child {
    margin-top: 0;
  }

  p {
    margin-bottom: 12px;
    line-height: 145%;
  }

  blockquote {
    margin: 0;
    padding: 0 16px;
    color: var(--fg-neutral-subtle);
    border-left: 3px solid var(--border);
  }

  ul,
  ol {
    padding-left: 24px;

    & ul {
      margin-bottom: 0;
    }
    & ol {
      margin-bottom: 0;
    }
  }

  li {
    list-style: initial;

    &::marker {
      color: var(--fg-neutral-subtle);
    }

    & + li {
      margin-top: 4px;
    }
  }

  figure[data-rehype-pretty-code-figure] {
    margin: 16px 0 16px 0;
  }

  pre {
    padding: 16px;
    border-radius: var(--radius-medium);
    font-size: 14px;
    line-height: 1.45;
    white-space: pre-wrap;
  }

  pre,
  code,
  code span {
    background-color: var(--shiki-light-bg);
    color: var(--shiki-light);
  }

  hr {
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: var(--border-gray);
  }

  a {
    color: var(--fg-selected);
    text-decoration: none;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  strong {
    font-weight: var(--font-weight-semibold);
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;

    & th,
    & td {
      padding: 8px 12px;
      border: 1px solid var(--border-gray);
    }

    & th {
      background-color: var(--bg-gray-subtle);
    }
  }
}

body[data-theme="dark"] #md {
  pre,
  code,
  code span {
    background-color: var(--shiki-dark-bg);
    color: var(--shiki-dark);
  }
}
