.box {
  --box-margin: 0;
  --box-margin-left: var(--box-margin);
  --box-margin-x: var(--box-margin);
  --box-margin-y: var(--box-margin);
  --box-margin-top: var(--box-margin-y, --box-margin);
  --box-margin-right: var(--box-margin-x, --box-margin);
  --box-margin-bottom: var(--box-margin-y, --box-margin);
  --box-margin-left: var(--box-margin-x, --box-margin);
  --box-padding: 0;
  --box-padding-x: var(--box-padding);
  --box-padding-y: var(--box-padding);
  --box-padding-top: var(--box-padding-y, --box-padding);
  --box-padding-right: var(--box-padding-x, --box-padding);
  --box-padding-bottom: var(--box-padding-y, --box-padding);
  --box-padding-left: var(--box-padding-x, --box-padding);
  --box-width: auto;
  --box-min-width: auto;
  --box-max-width: auto;
  --box-height: auto;
  --box-min-height: auto;
  --box-max-height: auto;
  --box-position: static;
  --box-top: auto;
  --box-right: auto;
  --box-bottom: auto;
  --box-left: auto;
  --box-flex-basis: auto;
  --box-flex-grow: auto;
  --box-flex-shrink: auto;
  --box-background-color: transparent;
  --box-border-width: 0;
  --box-border-top-width: var(--box-border-width);
  --box-border-right-width: var(--box-border-width);
  --box-border-bottom-width: var(--box-border-width);
  --box-border-left-width: var(--box-border-width);
  --box-border-color: initial;
  --box-border-radius: 0;

  margin: var(--box-margin-top) var(--box-margin-right) var(--box-margin-bottom)
    var(--box-margin-left);
  padding: var(--box-padding-top) var(--box-padding-right) var(--box-padding-bottom)
    var(--box-padding-left);
  width: var(--box-width);
  min-width: var(--box-min-width);
  max-width: var(--box-max-width);
  height: var(--box-height);
  min-height: var(--box-min-height);
  max-height: var(--box-max-height);
  position: var(--box-position);
  top: var(--box-top);
  right: var(--box-right);
  bottom: var(--box-bottom);
  left: var(--box-left);
  flex-basis: var(--box-flex-basis);
  flex-grow: var(--box-flex-grow);
  flex-shrink: var(--box-flex-shrink);
  background-color: var(--box-background-color);
  border: var(--box-border-width) solid var(--box-border-color);
  border-top: var(--box-border-top-width) solid var(--box-border-color);
  border-right: var(--box-border-right-width) solid var(--box-border-color);
  border-bottom: var(--box-border-bottom-width) solid var(--box-border-color);
  border-left: var(--box-border-left-width) solid var(--box-border-color);
  border-radius: var(--box-border-radius);

  &.display-none {
    display: none;
  }
  &.display-inline {
    display: inline;
  }
  &.display-none {
    display: block;
  }
}
