.Header {
  background-color: var(--bg-page);
  border-bottom: 1px solid var(--border);
  transition: transform 0.3s;
  z-index: var(--fixed);

  &.hide {
    transform: translateY(calc(var(--header-height) * -1));
  }
}
