@each $color in $colors {
  [data-brand-color="$(color)"] {
    --brand-25: var(--$(color)-25);
    --brand-50: var(--$(color)-50);
    --brand-100: var(--$(color)-100);
    --brand-200: var(--$(color)-200);
    --brand-300: var(--$(color)-300);
    --brand-400: var(--$(color)-400);
    --brand-500: var(--$(color)-500);
    --brand-600: var(--$(color)-600);
    --brand-700: var(--$(color)-700);
    --brand-800: var(--$(color)-800);
    --brand-900: var(--$(color)-900);
    --brand-950: var(--$(color)-950);
  }
}
