:root {
  /* color */
  --white: #ffffff;
  --black: #000000;
  --transparent: #ffffff00;

  --gray-25: hsl(0, 0%, 99%);
  --gray-50: hsl(0, 0%, 97%);
  --gray-100: hsl(0, 0%, 96%);
  --gray-200: hsl(0, 0%, 90%);
  --gray-300: hsl(0, 0%, 84%);
  --gray-400: hsl(0, 0%, 64%);
  --gray-500: hsl(0, 0%, 45%);
  --gray-600: hsl(0, 0%, 32%);
  --gray-700: hsl(0, 0%, 26%);
  --gray-750: hsl(0, 0%, 20%);
  --gray-800: hsl(0, 0%, 16%);
  --gray-850: hsl(0, 0%, 10%);
  --gray-900: hsl(0, 0%, 8%);
  --gray-950: hsl(0, 0%, 6%);

  --brand-25: #f5faff;
  --brand-50: #eff8ff;
  --brand-100: #d1e9ff;
  --brand-200: #b2ddff;
  --brand-300: #84caff;
  --brand-400: #53b1fd;
  --brand-500: #2e90fa;
  --brand-600: #1570ef;
  --brand-700: #175cd3;
  --brand-800: #1849a9;
  --brand-900: #194185;
  --brand-950: #102a56;

  /* font */
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-30: 1.875rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* radius */
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-24: 24px;

  /* zIndex */
  --hide: -1;
  --base: 0;
  --floating: 10;
  --dropdown: 1000;
  --sticky: 1100;
  --fixed: 1200;
  --overlay: 1300;
  --modal: 1400;
  --popover: 1500;
  --toast: 1600;
  --tooltip: 1700;
  --max: 2000;
}
