.CategorySelector {
  width: 100%;
}

.trigger {
  display: inline-flex;
  align-items: center;
  gap: 12px;

  .icon {
    color: var(--fg-neutral-subtlest);
  }
}

.content {
  width: 100%;
  max-width: 210px;
}

.option {
  display: inline-flex;
  justify-content: start;

  &.selected {
    background-color: var(--bg-transparent);

    @media (hover: hover) {
      &:hover {
        background-color: var(--bg-transparent-hovered);
      }
    }

    &:active {
      background-color: var(--bg-transparent-pressed);
    }
  }
}
