.flex {
  --margin: 0;
  --margin-left: var(--margin);
  --margin-x: var(--margin);
  --margin-y: var(--margin);
  --margin-top: var(--margin-y, --margin);
  --margin-right: var(--margin-x, --margin);
  --margin-bottom: var(--margin-y, --margin);
  --margin-left: var(--margin-x, --margin);
  --padding: 0;
  --padding-x: var(--padding);
  --padding-y: var(--padding);
  --padding-top: var(--padding-y, --padding);
  --padding-right: var(--padding-x, --padding);
  --padding-bottom: var(--padding-y, --padding);
  --padding-left: var(--padding-x, --padding);
  --width: auto;
  --min-width: auto;
  --max-width: auto;
  --height: auto;
  --min-height: auto;
  --max-height: auto;
  --position: static;
  --top: auto;
  --right: auto;
  --bottom: auto;
  --left: auto;
  --flex-basis: auto;
  --flex-grow: auto;
  --flex-shrink: auto;
  --flex-gap: 0;

  margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
  padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
  width: var(--width);
  min-width: var(--min-width);
  max-width: var(--max-width);
  height: var(--height);
  min-height: var(--min-height);
  max-height: var(--max-height);
  position: var(--position);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  flex-basis: var(--flex-basis);
  flex-grow: var(--flex-grow);
  flex-shrink: var(--flex-shrink);

  gap: var(--flex-gap);

  &.display-none {
    display: none;
  }
  &.display-flex {
    display: flex;
  }
  &.display-inline-flex {
    display: inline-flex;
  }

  &.direction-row {
    flex-direction: row;
  }
  &.direction-column {
    flex-direction: column;
  }
  &.direction-row-reverse {
    flex-direction: row-reverse;
  }
  &.direction-column-reverse {
    flex-direction: column-reverse;
  }

  &.align-start {
    align-items: start;
  }
  &.align-center {
    align-items: center;
  }
  &.align-end {
    align-items: end;
  }
  &.align-baseline {
    align-items: baseline;
  }
  &.align-stretch {
    align-items: stretch;
  }

  &.justify-start {
    justify-content: start;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-end {
    justify-content: end;
  }
  &.justify-space-between {
    justify-content: space-between;
  }

  &.wrap {
    flex-wrap: wrap;
  }
  &.wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}
