@media (--base) {
  .flex {
    --margin: 0;
    --margin-left: var(--margin);
    --margin-x: var(--margin);
    --margin-y: var(--margin);
    --margin-top: var(--margin-y, --margin);
    --margin-right: var(--margin-x, --margin);
    --margin-bottom: var(--margin-y, --margin);
    --margin-left: var(--margin-x, --margin);
    --padding: 0;
    --padding-x: var(--padding);
    --padding-y: var(--padding);
    --padding-top: var(--padding-y, --padding);
    --padding-right: var(--padding-x, --padding);
    --padding-bottom: var(--padding-y, --padding);
    --padding-left: var(--padding-x, --padding);
    --width: auto;
    --min-width: auto;
    --max-width: auto;
    --height: auto;
    --min-height: auto;
    --max-height: auto;
    --overflow: visible;
    --overflow-x: visible;
    --overflow-y: visible;
    --position: static;
    --top: auto;
    --right: auto;
    --bottom: auto;
    --left: auto;
    --flex-basis: auto;
    --flex-grow: auto;
    --flex-shrink: auto;
    --flex-gap: 0;
    --display: flex;
    --direction: row;
    --align: start;
    --justify: start;
    --wrap: nowrap;
    --gap: 0;

    margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
    padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
    width: var(--width);
    min-width: var(--min-width);
    max-width: var(--max-width);
    height: var(--height);
    min-height: var(--min-height);
    max-height: var(--max-height);
    overflow: var(--overflow);
    overflow-x: var(--overflow-x);
    overflow-y: var(--overflow-y);
    position: var(--position);
    top: var(--top);
    right: var(--right);
    bottom: var(--bottom);
    left: var(--left);
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    display: var(--display);
    flex-direction: var(--direction);
    align-items: var(--align);
    justify-content: var(--justify);
    flex-wrap: var(--wrap);
    gap: var(--gap);
  }
}

@media (--sm) {
  .flex {
    --sm-margin: var(--margin);
    --sm-margin-left: var(--margin-left);
    --sm-margin-x: var(--margin-x);
    --sm-margin-y: var(--margin-y);
    --sm-margin-top: var(--margin-top);
    --sm-margin-right: var(--margin-right);
    --sm-margin-bottom: var(--margin-bottom);
    --sm-margin-left: var(--margin-left);
    --sm-padding: var(--padding);
    --sm-padding-x: var(--padding-x);
    --sm-padding-y: var(--padding-y);
    --sm-padding-top: var(--padding-top);
    --sm-padding-right: var(--padding-right);
    --sm-padding-bottom: var(--padding-bottom);
    --sm-padding-left: var(--padding-left);
    --sm-width: var(--width);
    --sm-min-width: var(--min-width);
    --sm-max-width: var(--max-width);
    --sm-height: var(--height);
    --sm-min-height: var(--min-height);
    --sm-max-height: var(--max-height);
    --sm-overflow: var(--overflow);
    --sm-overflow-x: var(--overflow-x);
    --sm-overflow-y: var(--overflow-y);
    --sm-position: var(--position);
    --sm-top: var(--top);
    --sm-right: var(--right);
    --sm-bottom: var(--bottom);
    --sm-left: var(--left);
    --sm-flex-basis: var(--flex-basis);
    --sm-flex-grow: var(--flex-grow);
    --sm-flex-shrink: var(--flex-shrink);
    --sm-flex-gap: var(--flex-gap);
    --sm-display: var(--display);
    --sm-direction: var(--direction);
    --sm-align: var(--align);
    --sm-justify: var(--justify);
    --sm-wrap: var(--wrap);
    --sm-gap: var(--gap);

    margin: var(--sm-margin-top) var(--sm-margin-right) var(--sm-margin-bottom)
      var(--sm-margin-left);
    padding: var(--sm-padding-top) var(--sm-padding-right) var(--sm-padding-bottom)
      var(--sm-padding-left);
    width: var(--sm-width);
    min-width: var(--sm-min-width);
    max-width: var(--sm-max-width);
    height: var(--sm-height);
    min-height: var(--sm-min-height);
    max-height: var(--sm-max-height);
    overflow: var(--sm-overflow);
    overflow-x: var(--sm-overflow-x);
    overflow-y: var(--sm-overflow-y);
    position: var(--sm-position);
    top: var(--sm-top);
    right: var(--sm-right);
    bottom: var(--sm-bottom);
    left: var(--sm-left);
    flex-basis: var(--sm-flex-basis);
    flex-grow: var(--sm-flex-grow);
    flex-shrink: var(--sm-flex-shrink);
    display: var(--sm-display);
    flex-direction: var(--sm-direction);
    align-items: var(--sm-align);
    justify-content: var(--sm-justify);
    flex-wrap: var(--sm-wrap);
    gap: var(--sm-gap);
  }
}

@media (--md) {
  .flex {
    --md-margin: var(--sm-margin);
    --md-margin-left: var(--sm-margin-left);
    --md-margin-x: var(--sm-margin-x);
    --md-margin-y: var(--sm-margin-y);
    --md-margin-top: var(--sm-margin-top);
    --md-margin-right: var(--sm-margin-right);
    --md-margin-bottom: var(--sm-margin-bottom);
    --md-margin-left: var(--sm-margin-left);
    --md-padding: var(--sm-padding);
    --md-padding-x: var(--sm-padding-x);
    --md-padding-y: var(--sm-padding-y);
    --md-padding-top: var(--sm-padding-top);
    --md-padding-right: var(--sm-padding-right);
    --md-padding-bottom: var(--sm-padding-bottom);
    --md-padding-left: var(--sm-padding-left);
    --md-width: var(--sm-width);
    --md-min-width: var(--sm-min-width);
    --md-max-width: var(--sm-max-width);
    --md-height: var(--sm-height);
    --md-min-height: var(--sm-min-height);
    --md-max-height: var(--sm-max-height);
    --md-overflow: var(--sm-overflow);
    --md-overflow-x: var(--sm-overflow-x);
    --md-overflow-y: var(--sm-overflow-y);
    --md-position: var(--sm-position);
    --md-top: var(--sm-top);
    --md-right: var(--sm-right);
    --md-bottom: var(--sm-bottom);
    --md-left: var(--sm-left);
    --md-flex-basis: var(--sm-flex-basis);
    --md-flex-grow: var(--sm-flex-grow);
    --md-flex-shrink: var(--sm-flex-shrink);
    --md-flex-gap: var(--sm-flex-gap);
    --md-display: var(--sm-display);
    --md-direction: var(--sm-direction);
    --md-align: var(--sm-align);
    --md-justify: var(--sm-justify);
    --md-wrap: var(--sm-wrap);
    --md-gap: var(--sm-gap);

    margin: var(--md-margin-top) var(--md-margin-right) var(--md-margin-bottom)
      var(--md-margin-left);
    padding: var(--md-padding-top) var(--md-padding-right) var(--md-padding-bottom)
      var(--md-padding-left);
    width: var(--md-width);
    min-width: var(--md-min-width);
    max-width: var(--md-max-width);
    height: var(--md-height);
    min-height: var(--md-min-height);
    max-height: var(--md-max-height);
    overflow: var(--md-overflow);
    overflow-x: var(--md-overflow-x);
    overflow-y: var(--md-overflow-y);
    position: var(--md-position);
    top: var(--md-top);
    right: var(--md-right);
    bottom: var(--md-bottom);
    left: var(--md-left);
    flex-basis: var(--md-flex-basis);
    flex-grow: var(--md-flex-grow);
    flex-shrink: var(--md-flex-shrink);
    display: var(--md-display);
    flex-direction: var(--md-direction);
    align-items: var(--md-align);
    justify-content: var(--md-justify);
    flex-wrap: var(--md-wrap);
    gap: var(--md-gap);
  }
}

@media (--lg) {
  .flex {
    --lg-margin: var(--md-margin);
    --lg-margin-left: var(--md-margin-left);
    --lg-margin-x: var(--md-margin-x);
    --lg-margin-y: var(--md-margin-y);
    --lg-margin-top: var(--md-margin-top);
    --lg-margin-right: var(--md-margin-right);
    --lg-margin-bottom: var(--md-margin-bottom);
    --lg-margin-left: var(--md-margin-left);
    --lg-padding: var(--md-padding);
    --lg-padding-x: var(--md-padding-x);
    --lg-padding-y: var(--md-padding-y);
    --lg-padding-top: var(--md-padding-top);
    --lg-padding-right: var(--md-padding-right);
    --lg-padding-bottom: var(--md-padding-bottom);
    --lg-padding-left: var(--md-padding-left);
    --lg-width: var(--md-width);
    --lg-min-width: var(--md-min-width);
    --lg-max-width: var(--md-max-width);
    --lg-height: var(--md-height);
    --lg-min-height: var(--md-min-height);
    --lg-max-height: var(--md-max-height);
    --lg-overflow: var(--md-overflow);
    --lg-overflow-x: var(--md-overflow-x);
    --lg-overflow-y: var(--md-overflow-y);
    --lg-position: var(--md-position);
    --lg-top: var(--md-top);
    --lg-right: var(--md-right);
    --lg-bottom: var(--md-bottom);
    --lg-left: var(--md-left);
    --lg-flex-basis: var(--md-flex-basis);
    --lg-flex-grow: var(--md-flex-grow);
    --lg-flex-shrink: var(--md-flex-shrink);
    --lg-flex-gap: var(--md-flex-gap);
    --lg-display: var(--md-display);
    --lg-direction: var(--md-direction);
    --lg-align: var(--md-align);
    --lg-justify: var(--md-justify);
    --lg-wrap: var(--md-wrap);
    --lg-gap: var(--md-gap);

    margin: var(--lg-margin-top) var(--lg-margin-right) var(--lg-margin-bottom)
      var(--lg-margin-left);
    padding: var(--lg-padding-top) var(--lg-padding-right) var(--lg-padding-bottom)
      var(--lg-padding-left);
    width: var(--lg-width);
    min-width: var(--lg-min-width);
    max-width: var(--lg-max-width);
    height: var(--lg-height);
    min-height: var(--lg-min-height);
    max-height: var(--lg-max-height);
    overflow: var(--lg-overflow);
    overflow-x: var(--lg-overflow-x);
    overflow-y: var(--lg-overflow-y);
    position: var(--lg-position);
    top: var(--lg-top);
    right: var(--lg-right);
    bottom: var(--lg-bottom);
    left: var(--lg-left);
    flex-basis: var(--lg-flex-basis);
    flex-grow: var(--lg-flex-grow);
    flex-shrink: var(--lg-flex-shrink);
    display: var(--lg-display);
    flex-direction: var(--lg-direction);
    align-items: var(--lg-align);
    justify-content: var(--lg-justify);
    flex-wrap: var(--lg-wrap);
    gap: var(--lg-gap);
  }
}
