:root {
  --radius-none: 0px;
  --radius-small: var(--radius-4);
  --radius-medium: var(--radius-6);
  --radius-large: var(--radius-8);
  --radius-xlarge: var(--radius-12);
  --radius-full: 9999px;
}
