.PostItem {
  cursor: pointer;

  .title {
    margin-bottom: 6px;
    line-height: 160%;
    transition: color 0.3s;
    color: var(--fg-neutral);
  }

  &:hover,
  &:active {
    .title {
      color: var(--fg-brand);
    }
  }

  .description {
    margin-bottom: 16px;
    color: var(--fg-neutral-subtle);
    line-height: 150%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .date {
    color: var(--fg-neutral-subtle);
    align-self: flex-end;
  }
}
